<div class="bg-primary-200 py-24 container d-flex justify-center align-center">
    <h2 class="h4 h5-sm ">加入會員取得 9 折優惠</h2>
    <button type="button" class="btn btn-dark ml-24">馬上註冊</button>
</div>
<footer class="bg-neutral-100 py-64 py-md-32">
    <div class="container">
        <div class=" d-flex justify-between align-center mb-24 d-md-block">
            <img src="../assets/images/logo.svg" alt="logo" class="mb-md-8">
            <ul class="d-flex d-md-block ">
                <li class="mr-40 py-md-12 pl-md-12 mb-md-4">
                    <a href="#">商品列表</a>
                </li>
                <li class="py-md-12 pl-md-12"><a href="#">品牌故事</a></li>
            </ul>
        </div>
        <div class="copyright">
            <p class="mb-4">Copyright ©2025 URBNSTYLE</p>
            <p">All Rights Reserved.</p>
        </div>
    </div>

</footer>