<nav class="py-16 py-sm-12">
    <div class="container d-flex align-center">
        <a href="./index.html">
            <img src="../assets/images/logo.svg" alt="logo">
        </a>
        <ul class="d-flex d-sm-none">
            <li><a href="products.html" class="py-12 ml-48">商品列表</a></li>
            <li><a href="#" class="py-12 ml-40">商品列表</a></li>
        </ul>
        <a href="#" class="p-12  ml-auto">
            <i class="bi bi-person "></i>
        </a>
    </div>
</nav>