.copyright{
  padding-top: 32px;
  color: $neutral-600;
  font-size: 14px;
  border-top: 1px solid $neutral-300;
  text-align: center;
}

@media (max-width: 576px) {
  .btn {
    padding: 8px 16px;
  }
}